.search-item{
    display: flex;
    margin: 10px 0px;
}

.search-by-keyword {
    display: flex;
    align-items: center;
    width: 600px;
    height: 48px;
    border: 1px solid #ECE8DD;
    border-radius: 10px;
    padding: 0px 4px;
}

.search-by-keyword-item {
    padding: 0px 4px;
}

input{
    border: none;
    width: 560px;
    height: 40px;
}

.search-button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #579BB1;
    margin: 0px 10px;
    min-width: 96px;
}

.tag_button{
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    padding: 10px 10px;
    margin: 0px 5px;
    color: #7C7C7C;
    background-color: #ECE8DD;
}

.tag_area{
    display: flex;
    flex-wrap: nowrap;
}